@media (min-width: 992px) and (max-width: 1199.98px) {
  /* home page section css start  */
  /* home page header section css start  */
  #header #nav ul {
    margin-left: 50px;
  }
  #header #nav .search_form .search input {
    display: none;
  }
  #header #nav .search_form .search a i {
    position: absolute;
    top: 16px;
    right: 10px;
    color: #75101c;
    font-size: 18px;
  }
  #header #banner .banner_content h1 {
    font-size: 56px;
    margin-bottom: 25px;
  }
  #serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn span i {
    display: none;
  }
  /* home page header section css end  */
  /* home page mission section css start  */
  #mission .mission_img {
    position: relative;
    width: 500px;
  }
  #mission .mission_img a {
    top: 50%;
  }
  #mission .mission_img a i {
    width: 60px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
  #mission .mission_content .box {
    margin-top: 40px;
    margin-left: 123px;
  }
  #mission .mission_content h1 {
    font-size: 26px;
    margin-bottom: 22px;
  }
  #mission .mission_content .para {
    font-size: 12px;
    margin-bottom: 30px;
  }
  /* home page mission section css end  */
  /* home page Trand section css start  */
  #trand .add_img img {
    width: 900px;
  }
  #trand .title p {
    margin-bottom: 22px;
    margin-left: 18px;
  }
  /* home page Trand section css end  */
  /* home page Jurassic section css start  */
  #jurassic {
    height: 700px;
  }
  #jurassic .jurassic_content h1 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  #jurassic .jurassic_content .para {
    margin-bottom: 30px;
  }
  /* home page Jurassic section css end  */
  /* home page venom section css start  */
  #venom .venom_img img {
    width: 500px;
  }
  #venom .venom_img a {
    top: 50%;
    right: 33%;
  }
  #venom .venom_img a i {
    width: 60px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
  #venom .venom_content .box {
    margin-top: 48px;
    margin-left: 90px;
  }
  #venom .venom_content h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
  }
  #venom .venom_content .para {
    font-size: 13px;
    margin-bottom: 28px;
    margin-right: 30px;
  }
  /* home page venom section css end  */
  /* home page Blog section css start  */
  #blog .blog_img img {
    width: 900px;
  }
  #blog .blog_game .blog_game_content {
    margin-top: 20px;
    padding-right: 20px;
  }
  #blog .blog_game .blog_game_content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  #blog .blog_game .blog_game_content p {
    font-size: 12px;
    margin-bottom: 15px;
  }
  #blog .blog_artical .blog_artical_item {
    margin-top: 15px;
  }
  #blog .blog_artical .blog_artical_item .blog_artical_img a img {
    width: 70px;
    height: 70px;
  }
  #blog .blog_artical .blog_artical_item .blog_artical_img {
    margin-right: 15px;
  }
  #blog .blog_artical .blog_artical_item .blog_artical_content h6 {
    font-size: 9px;
    margin-top: 10px;
  }
  /* home page Blog section css end  */
  /* home page Footer section css start  */
  footer .footer_info p {
    margin-top: 25px;
    font-size: 11px;
    margin-bottom: 24px;
    line-height: 1.6;
  }
  footer .footer_info .partner .star {
    margin-bottom: 28px;
  }
  footer .footer_info .partner .star i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin-right: 5px;
  }
  footer .footer_menu {
    margin-left: 20px;
  }
  footer .footer_menu ul {
    margin-right: 30px;
  }
  footer .footer_menu ul li a {
    font-size: 12px;
    margin-bottom: 10px;
  }
  footer .footer_others {
    margin-left: -20px;
  }
  footer .footer_others ul li {
    width: 110px;
  }
  footer .footer_others ul li a {
    font-size: 12px;
    margin-bottom: 10px;
  }
  /* home page Footer section css end  */
  /* home page section css end  */
  /* My List page section css start  */
  /* My List section css start  */
  #list_header #nav ul {
    margin-left: 50px;
  }
  #list_header #nav .search_form .search input {
    display: none;
  }
  #list_header #nav .search_form .search a i {
    position: absolute;
    top: 16px;
    right: 10px;
    color: #75101c;
    font-size: 18px;
  }
  #list_header #my_list {
    margin-top: 70px;
    margin-left: 50px;
  }
  /* My List section css end  */
  /* My List page section css end  */
  /* Movie page section css start  */
  /* Movie page Header section css start  */
  #movie_header #nav ul {
    margin-left: 50px;
  }
  #movie_header #nav .search_form .search input {
    display: none;
  }
  #movie_header #nav .search_form .search i {
    position: absolute;
    top: 17px;
    right: 5px;
    color: #75101c;
  }
  #movie_header #banner .banner_content h1 {
    font-size: 56px;
    margin-bottom: 25px;
  }
  /* Movie page Header section css end  */
  /* Movie page Movie Content section css start  */
  #movie_header #movie_content {
    margin-top: 80px;
  }
  #movie_header #movie_content .movie_content_text h3 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #movie_header #movie_content .movie_content_text .lanch_info ul li {
    font-size: 13px;
    margin-bottom: 8px;
  }
  #movie_header #movie_content .movie_content_text .movie_info p {
    font-size: 13px;
    margin-top: 10px;
  }
  #movie_header #movie_content .movie_content_btn a {
    padding: 10px 16px;
    font-size: 11px;
    word-spacing: 2px;
    margin-bottom: 15px;
  }
  #movie_header #movie_content .movie_content_btn .ratting .star {
    margin-right: 8px;
  }
  #movie_header #movie_content .movie_content_btn .ratting .star i {
    font-size: 12px;
  }
  /* Movie page Movie Content section css end  */
  /* Movie page Movie Blog section css start  */
  #movie_blog .movie_blog_box .movie_blog_box_item {
    margin-top: 20px;
  }
  #movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_img {
    margin-right: 15px;
  }
  #movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_img img {
    width: 60px;
    height: 60px;
  }
  #movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_content h6 {
    font-size: 10px;
    line-height: 1.5;
    margin-top: 5px;
  }
  #movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_content a {
    font-size: 10px;
  }
  #movie_blog .movie_blog_video img {
    width: 600px;
  }
  /* Movie page Movie Blog section css end  */
  /* Movie page Movie Blog News section css start  */
  #movie_blog .movie_blog_news .overlay {
    width: 216px;
  }
  #movie_blog .movie_blog_news .overlay p {
    font-size: 11px;
    line-height: 1.5;
  }
  /* Movie page Movie Blog News section css end  */
  /* Movie page section css end  */
  /* Artical page section css start  */
  /* Artical page header section css start  */
  #header {
    height: 680px;
  }
  /* Artical page header section css end  */
  /* Artical page blog categories section css start  */
  #blog_page .blog_page_categories {
    display: none;
  }
  #blog_page .slide_btn {
    margin-top: 80px;
    background: #020d18;
    border: none;
  }
  #blog_page .offcanvas-header {
    padding: 40px 0px;
    margin-left: 320px;
  }
  #blog_page .offcanvas-header .off_head_btn i {
    color: #fff;
    font-size: 35px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .input i {
    right: 0px;
  }
  #blog_page .artical_img {
    margin-left: -100px;
  }
  #blog_page .artical_img .title {
    font-size: 30px;
    margin-top: 32px;
    margin-bottom: 15px;
  }
  /* Artical page blog categories section css end  */
  /* Artical page Artical thum section css start  */
  #artical_thum .artical_text {
    margin-left: -30px;
    margin-top: 10px;
  }
  #artical_thum .artical_text p {
    margin-bottom: 20px;
  }
  #artical_thum .artical_text .share span {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  #artical_thum .artical_text .share .social_link a {
    margin-bottom: 40px;
  }
  #artical_thum .artical_text .artical_blog {
    margin-top: 60px;
    margin-bottom: 200px;
  }
  #artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_img a img {
    margin-top: 20px;
  }
  /* Artical page Artical thum section css end  */
  /* Artical page section css end  */
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* home page section css start  */
  /* home page header section css start  */
  #header {
    height: 650px;
  }
  #header #nav .nav_btn {
    background: #f10e1f;
    color: #fff;
  }
  #header #nav .nav_btn span i {
    margin-top: 5px;
  }
  #header #nav ul {
    margin-top: 25px;
  }
  #header #nav ul li a {
    margin-bottom: 20px;
  }
  #header #nav .search_form .search input {
    display: none;
  }
  #header #nav .search_form .search a i {
    right: -250px;
  }
  /* home page header section css end  */
  /* home page Banner section css start  */
  #header #banner .banner_content .box {
    margin-top: 50px;
  }
  #header #banner .banner_content h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  #header #banner .banner_content .para {
    margin-bottom: 30px;
  }
  #header #banner .banner_img img {
    display: none;
  }
  /* home page Banner section css end  */
  /* home page serial movie section css start  */
  #serial_movie p {
    padding-top: 15px;
  }
  #serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn span i {
    display: none;
  }
  /* home page serial movie section css end  */
  /* home page mission section css start  */
  #mission .mission_content .box {
    margin-left: 420px;
  }
  #mission .mission_content h1 {
    font-size: 32px;
    margin-bottom: 25px;
    margin-right: 22px;
  }
  #mission .mission_content .para {
    font-size: 14px;
    margin-bottom: 30px;
    margin-right: 22px;
  }
  /* home page mission section css end  */
  /* home page Trand section css start  */
  #trand .add_img img {
    width: 630px;
  }
  #trand .serial_filter_content li {
    padding: 10px 10px;
    font-size: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  /* home page Trand section css end  */
  /* home page jurassic section css start  */
  #jurassic {
    height: 600px;
  }
  #jurassic .jurassic_content h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  /* home page jurassic section css end  */
  /* home page venom section css start  */
  #venom .venom_img img {
    margin-left: 2px;
    width: 674px;
  }
  #venom .venom_content .box {
    margin-left: 424px;
  }
  #venom .venom_content h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 16px;
  }
  #venom .venom_content .para {
    font-size: 13px;
    margin-bottom: 30px;
    margin-right: 16px;
  }
  /* home page venom section css end  */
  /* home page Blog section css start  */
  #blog .blog_img img {
    width: 630px;
  }
  #blog .blog_game .blog_game_img img {
    width: 220px;
    height: 340px;
  }
  #blog .blog_game .blog_game_content {
    margin-top: 20px;
  }
  #blog .blog_game .blog_game_content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  #blog .blog_game .blog_game_content p {
    font-size: 12px;
    margin-bottom: 18px;
  }
  #blog .blog_artical {
    margin-top: -20px;
    margin-bottom: 70px;
  }
  #blog .blog_news {
    margin-bottom: 55px;
    width: 220px;
    margin-right: 20px;
  }
  #blog .blog_news .overlay {
    width: 196px;
  }
  #blog .blog_news .overlay p {
    font-size: 10px;
  }
  /* home page Blog section css end  */
  /* home page Footer section css start  */
  footer .footer_info img {
    width: 140px;
  }
  footer .footer_info p {
    font-size: 12px;
    margin-top: 29px;
    margin-bottom: 20px;
  }
  footer .footer_info .partner .star {
    margin-bottom: 20px;
  }
  footer .footer_info .social_link a {
    font-size: 25px;
  }
  footer .footer_menu {
    margin-left: 0px;
    margin-top: 50px;
  }
  footer .footer_others {
    margin-top: 50px;
  }
  footer .footer_others ul {
    margin-right: 80px;
  }
  /* home page Footer section css end  */
  /* home page section css end  */
  /* My List page section css start  */
  /* My List My List Blog section css start  */
  #list_header {
    height: 650px;
  }
  #list_header #nav .nav_btn {
    background: #f10e1f;
    color: #fff;
  }
  #list_header #nav .nav_btn span i {
    margin-top: 5px;
  }
  #list_header #nav ul {
    margin-top: 25px;
  }
  #list_header #nav ul li a {
    margin-bottom: 20px;
  }
  #list_header #nav .search_form .search input {
    display: none;
  }
  #list_header #nav .search_form .search a i {
    right: -250px;
  }
  #list_header #my_list {
    margin-top: 50px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item {
    width: 180px;
    margin-bottom: 20px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_img {
    width: 160px;
    height: 160px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body h6 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating span {
    font-size: 12px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font .i_1 {
    margin-right: 10px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font .rat {
    margin-top: -4px;
    font-size: 11px;
  }
  /* My List My List Blog section css end  */
  /* My List page section css end  */
  /* Movie page section css start  */
  /* Movie page Movie Header section css start  */
  #movie_header {
    height: 650px;
  }
  #movie_header #nav .nav_btn {
    background: #f10e1f;
    color: #fff;
  }
  #movie_header #nav .nav_btn span i {
    margin-top: 5px;
  }
  #movie_header #nav ul {
    margin-top: 25px;
  }
  #movie_header #nav ul li a {
    margin-bottom: 20px;
  }
  #movie_header #nav .search_form .search input {
    display: none;
  }
  #movie_header #nav .search_form .search a i {
    right: -250px;
  }
  /* Movie page Movie Header section css end  */
  /* Movie page Movie Header movie content section css start  */
  #movie_header #movie_content {
    margin-top: 60px;
  }
  #movie_header #movie_content .movie_content_img img {
    width: 237px;
    height: 337px;
  }
  #movie_header #movie_content .movie_content_text {
    margin-left: 206px;
    margin-top: -310px;
    width: 500px;
  }
  #movie_header #movie_content .movie_content_text h3 {
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 12px;
  }
  #movie_header #movie_content .movie_content_text .lanch_info ul li {
    font-size: 13px;
    margin-bottom: 10px;
  }
  #movie_header #movie_content .movie_content_text .movie_info p {
    font-size: 13px;
    margin-top: 15px;
    width: 480px;
  }
  #movie_header #movie_content .movie_content_btn {
    margin-top: 40px;
  }
  #movie_header #movie_content .movie_content_btn a {
    padding: 12px 16px;
    font-size: 11px;
    word-spacing: 2px;
    margin-bottom: 14px;
  }
  #movie_header #movie_content .movie_content_btn .ratting .star i {
    font-size: 12px;
  }
  /* Movie page Movie Header movie content section css end  */
  /* Movie page Movie Blog section css start  */
  #movie_blog .movie_blog_box {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  #movie_blog .movie_blog_video img {
    width: 700px;
  }
  #movie_blog .movie_blog_video img {
    width: 650px;
    margin-left: 22px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item {
    width: 237px;
    height: 356px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item .overlay {
    position: absolute;
    width: 214px;
    bottom: 32px;
  }
  #movie_blog .bottom {
    margin-top: 60px;
  }
  /* Movie page Movie Blog section css end  */
  /* Movie page section css end  */
  /* Artical page section css start  */
  /* Artical page header section css start  */
  #header {
    height: 680px;
  }
  /* Artical page header section css end  */
  /* Artical page Blog section css start  */
  #blog_page .blog_page_categories {
    display: none;
  }
  #blog_page .slide_btn {
    margin-top: 50px;
    background: #020d18;
    border: none;
  }
  .offcanvas-header .btn-close {
    margin-right: 18.5rem;
  }
  #blog_page .slide_offcanvas {
    width: 350px;
  }
  #blog_page .offcanvas-header {
    padding: 40px 0px;
    margin-left: 320px;
  }
  #blog_page .offcanvas-header .off_head_btn i {
    color: #fff;
    font-size: 35px;
    margin-left: -50px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .input i {
    right: 0px;
  }
  #blog_page .artical_img {
    margin-top: 0px;
  }
  #blog_page .artical_img img {
    margin-left: 0px;
    margin-top: 30px;
  }
  #blog_page .artical_img .title {
    font-size: 28px;
    margin-top: 18px;
    margin-left: 0px;
    margin-bottom: 8px;
  }
  #blog_page .artical_img .react {
    margin-left: 0px;
  }
  /* Artical page Blog section css end  */
  /* Artical page Artical Thum section css start  */
  #artical_thum .artical_text {
    margin-left: 0px;
    margin-top: 15px;
  }
  #artical_thum .artical_text p {
    margin-bottom: 20px;
  }
  #artical_thum .artical_text .share span {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  #artical_thum .artical_text .share .social_link a {
    margin-right: 15px;
    margin-bottom: 20px;
  }
  #artical_thum .artical_text .artical_blog {
    margin-top: 30px;
    margin-bottom: 120px;
  }
  #artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_text h6 {
    font-size: 12px;
    margin-top: 0px;
  }
  /* Artical page Artical Thum section css end  */
  /* Artical page section css start  */
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* home page section css start  */
  /* home page header section css start  */
  #header {
    height: 550px;
  }
  #header #nav .nav_btn {
    background: #f10e1f;
    color: #fff;
    width: 40px;
  }
  #header #nav .nav_btn span i {
    margin-top: 5px;
    margin-left: -15px;
  }
  #header #nav ul {
    margin-top: 25px;
  }
  #header #nav ul li a {
    margin-bottom: 15px;
  }
  #header #nav .search_form a.a_active {
    padding: 10px 15px;
  }
  #header #nav .search_form a {
    font-size: 13px;
  }
  #header #nav .search_form .search input {
    display: none;
  }
  #header #nav .search_form .search a i {
    right: -230px;
    color: #fff;
  }
  /* home page header section css end  */
  /* home page Banner section css start  */
  #header #banner .banner_content .box {
    margin-top: 15px;
  }
  #header #banner .banner_content .box span {
    padding: 5px 7px;
    font-size: 12px;
    margin-right: 10px;
  }
  #header #banner .banner_content .box p {
    padding: 3px 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #header #banner .banner_content h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  #header #banner .banner_content .para {
    font-size: 13px;
    margin-bottom: 20px;
  }
  #header #banner .banner_content .btn a {
    padding: 10px 15px;
    font-size: 10px;
    margin-right: 15px;
  }
  #header #banner .banner_img img {
    display: none;
  }
  /* home page Banner section css end  */
  /* home page serial movie section css start  */
  #serial_movie p {
    font-size: 11px;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  #serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn span i {
    display: none;
  }
  /* home page serial movie section css end  */
  /* home page mission section css start  */
  #mission {
    padding: 30px 0;
  }
  #mission .mission_img a {
    width: 55px;
    height: 36px;
  }
  #mission .mission_img a i {
    width: 55px;
    height: 36px;
    font-size: 15px;
    line-height: 35px;
  }
  #mission .mission_content .box {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 310px;
  }
  #mission .mission_content .box span {
    padding: 5px 7px;
    font-size: 12px;
    margin-right: 10px;
  }
  #mission .mission_content .box p {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #mission .mission_content h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  #mission .mission_content .para {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #mission .mission_content .btn a {
    padding: 10px 15px;
    font-size: 10px;
    margin-right: 10px;
  }
  /* home page mission section css end  */
  /* home page trand section css start  */
  #trand .add_img {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #trand .add_img img {
    width: 460px;
  }
  #trand .title p {
    font-size: 11px;
    margin-bottom: 20px;
  }
  #trand .serial_filter_content li {
    padding: 5px 8px;
    font-size: 8px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  #trand .serial_filter .serial_filter_item {
    width: 170px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_img {
    width: 150px;
    height: 150px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body h6 {
    font-size: 11px;
    margin-bottom: 10px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating span {
    font-size: 11px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font {
    margin-top: 3px;
    margin-right: 38px;
    margin-bottom: 50px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .i_1 {
    font-size: 10px;
    margin-right: 10px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .rat {
    margin-top: -2px;
    font-size: 10px;
  }
  /* home page trand section css end  */
  /* home page jurassic section css start  */
  #jurassic {
    height: 450px;
  }
  #jurassic .jurassic_content .box {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #jurassic .jurassic_content .box span {
    padding: 5px 7px;
    font-size: 12px;
    margin-right: 10px;
  }
  #jurassic .jurassic_content .box p {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #jurassic .jurassic_content h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #jurassic .jurassic_content .para {
    font-size: 11px;
    margin-bottom: 20px;
  }
  #jurassic .jurassic_content .btn a {
    padding: 10px 15px;
    font-size: 9px;
    margin-right: 15px;
  }
  /* home page jurassic section css end  */
  /* home page venom section css start  */
  #venom {
    padding: 30px 0;
  }
  #venom .venom_img a {
    right: 33%;
  }
  #venom .venom_img a i {
    width: 60px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
  }
  #venom .venom_content .box {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 308px;
  }
  #venom .venom_content .box span {
    padding: 5px 7px;
    font-size: 12px;
    margin-right: 10px;
  }
  #venom .venom_content .box p {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #venom .venom_content h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  #venom .venom_content .para {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #venom .venom_content .btn a {
    padding: 10px 15px;
    font-size: 10px;
    margin-right: 8px;
  }
  /* home page venom section css end  */
  /* home page Blog section css start  */
  #blog .blog_img {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  #blog .blog_img img {
    width: 460px;
  }
  #blog .blog_game .blog_game_content {
    margin-top: 20px;
    border-right: none;
    padding-right: 0px;
  }
  #blog .blog_game .blog_game_content h2 {
    font-size: 20px;
    margin-bottom: 13px;
  }
  #blog .blog_game .blog_game_content p {
    font-size: 9px;
    margin-bottom: 20px;
    width: 300px;
  }
  #blog .blog_game .blog_game_content a {
    font-size: 11px;
  }
  #blog .blog_artical {
    margin-top: -50px;
    margin-bottom: 60px;
  }
  #blog .blog_artical .blog_artical_item .blog_artical_content h6 {
    font-size: 10px;
    margin-top: 10px;
    width: 150px;
  }
  #blog .blog_artical .blog_artical_item .blog_artical_content a {
    font-size: 10px;
  }
  #blog .blog_news {
    margin-bottom: 40px;
    width: 260px;
    margin-right: 10px;
  }
  #blog .blog_news .overlay {
    width: 236px;
  }
  #blog .blog_news .overlay p {
    font-size: 9px;
  }
  #blog .load {
    margin-bottom: 40px;
  }
  #blog .load a {
    padding: 10px 15px;
    font-size: 10px;
  }
  /* home page Blog section css end  */
  /* home page Footer section css start  */
  footer .footer_info img {
    width: 120px;
  }
  footer .footer_info p {
    margin-top: 20px;
    font-size: 10px;
    margin-bottom: 20px;
  }
  footer .footer_info .partner .star {
    margin-bottom: 20px;
  }
  footer .footer_info .partner .star i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
  footer .footer_info .social_link a {
    margin-right: 10px;
    font-size: 18px;
  }
  footer .footer_menu {
    margin-left: 0px;
    margin-top: 40px;
  }
  footer .footer_menu h6 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  footer .footer_menu ul {
    margin-right: 50px;
  }
  footer .footer_menu ul li a {
    font-size: 12px;
    margin-bottom: 10px;
  }
  footer .footer_others {
    margin-top: 50px;
  }
  footer .footer_others h6 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  footer .footer_others ul {
    margin-right: 50px;
  }
  footer .footer_others ul li a {
    font-size: 12px;
    margin-bottom: 10px;
  }
  /* home page Footer section css end  */
  /* home page section css end  */
  /* My List page section css start  */
  /* My List page header section css start  */
  #list_header {
    height: 830px;
  }
  #list_header #nav .nav_btn {
    background: #f10e1f;
    color: #fff;
    width: 40px;
  }
  #list_header #nav .nav_btn span i {
    margin-top: 5px;
    margin-left: -15px;
  }
  #list_header #nav ul {
    margin-top: 25px;
  }
  #list_header #nav ul li a {
    margin-bottom: 15px;
  }
  #list_header #nav .search_form a.a_active {
    padding: 10px 15px;
  }
  #list_header #nav .search_form a {
    font-size: 13px;
  }
  #list_header #nav .search_form .search input {
    display: none;
  }
  #list_header #nav .search_form .search a i {
    right: -230px;
    color: #fff;
  }
  /* My List page header section css end  */
  /* My List page my list blog section css start  */
  #list_header #my_list {
    margin-top: 40px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item {
    width: 170px;
    margin-bottom: 20px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_img {
    width: 160px;
    height: 160px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body h6 {
    font-size: 11px;
    margin-bottom: 8px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating span {
    font-size: 12px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font .i_1 {
    font-size: 10px;
    margin-right: 10px;
  }
  /* My List page my list blog section css end  */
  /* My List page Footer section css start  */
  .list_footer {
    margin-top: -3px;
  }
  /* My List page Footer section css end  */
  /* My List page section css end  */
  /* Movie page section css start  */
  /* Movie page header section css start  */
  #movie_header {
    height: 550px;
  }
  #movie_header #nav .nav_btn {
    background: #f10e1f;
    color: #fff;
    width: 40px;
  }
  #movie_header #nav .nav_btn span i {
    margin-top: 5px;
    margin-left: -15px;
  }
  #movie_header #nav ul {
    margin-top: 25px;
  }
  #movie_header #nav ul li a {
    margin-bottom: 15px;
  }
  #movie_header #nav .search_form a.a_active {
    padding: 10px 15px;
  }
  #movie_header #nav .search_form a {
    font-size: 13px;
  }
  #movie_header #nav .search_form .search input {
    display: none;
  }
  #movie_header #nav .search_form .search a i {
    right: -230px;
    color: #fff;
  }
  /* Movie page header section css end  */
  /* Movie page movie content section css start  */
  #movie_header #movie_content {
    margin-top: 40px;
  }
  #movie_header #movie_content .movie_content_img {
    margin-left: -30px;
  }
  #movie_header #movie_content .movie_content_text {
    margin-left: 0px;
  }
  #movie_header #movie_content .movie_content_text h3 {
    font-size: 34px;
    margin-top: 5px;
    margin-bottom: 18px;
  }
  #movie_header #movie_content .movie_content_text .movie_info p {
    width: 500px;
  }
  #movie_header #movie_content .movie_content_btn {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  /* Movie page movie content section css end  */
  /* Movie page movie Blog section css start  */
  #movie_blog .movie_blog_box {
    margin-top: 520px;
    margin-bottom: 50px;
  }
  #movie_blog .movie_blog_video img {
    width: 510px;
  }
  #movie_blog .movie_blog_video a i {
    width: 61px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
  #movie_blog .movie_blog_video a {
    top: 52%;
    right: 35%;
  }
  #movie_blog .movie_blog_news {
    margin-top: 80px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item {
    width: 180px;
    height: 269px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item .overlay {
    width: 156px;
    bottom: 32px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item .overlay p {
    font-size: 12px;
  }
  #movie_blog .bottom {
    margin-top: 40px;
  }
  /* Movie page movie Blog section css end  */
  /* Movie page section css end  */
  /* Artical page section css start  */
  /* Artical page header section css start  */
  #header {
    height: 580px;
  }
  /* Artical page header section css end  */
  /* Artical page Blog Categories section css start  */
  #blog_page .blog_page_categories {
    display: none;
  }
  #blog_page .slide_btn {
    margin-top: 35px;
    background: #020d18;
    border: none;
  }
  .offcanvas-header .btn-close {
    margin-left: -50px;
  }
  #blog_page .slide_offcanvas {
    width: 300px;
  }
  #blog_page .offcanvas-header {
    padding: 40px 0px;
    margin-left: 320px;
  }
  #blog_page .offcanvas-header .off_head_btn i {
    color: #fff;
    font-size: 35px;
    margin-left: -50px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .input i {
    right: 10px;
    top: 13px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .input input {
    height: 40px;
    padding-left: 15px;
    width: 180px;
  }
  #blog_page .artical_img img {
    margin-left: 0px;
    margin-top: 40px;
  }
  #blog_page .artical_img .title {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  #blog_page .artical_img .react {
    margin-left: 0px;
  }
  /* Artical page Blog Categories section css end  */
  /* Artical page artical thum section css start  */
  #artical_thum .artical_text {
    margin-left: 0px;
    margin-top: 15px;
  }
  #artical_thum .artical_text p {
    margin-bottom: 20px;
  }
  #artical_thum .artical_text .share span {
    margin-top: 20px;
  }
  #artical_thum .artical_text .share .social_link a {
    margin-right: 15px;
    margin-bottom: 20px;
  }
  #artical_thum .artical_text .artical_blog {
    margin-top: 40px;
    margin-bottom: 100px;
  }
  #artical_thum .artical_text .artical_blog .artical_blog_item {
    margin-right: 0px;
  }
  #artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_text h6 {
    font-size: 13px;
    margin-top: 0px;
  }
  #artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_img {
    margin-right: 11px;
  }
  /* Artical page artical thum section css end  */
  /* Artical page section css end  */
}
@media (min-width: 360px) and (max-width: 575.98px) {
  /* home page section css start  */
  /* home page header section css start  */
  #header {
    height: 510px;
  }
  #header #nav .nav_btn {
    color: #fff;
    width: 30px;
    height: 30px;
  }
  #header #nav .nav_btn span i {
    margin-left: -25px;
    border: none;
  }
  #header #nav ul {
    margin-top: 25px;
    margin-left: 15px;
  }
  #header #nav ul li a {
    margin-bottom: 15px;
  }
  #header #nav .search_form .search {
    display: none;
  }
  /* home page header section css end  */
  /* home page Banner section css start  */
  #header #banner .banner_content .box {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #header #banner .banner_content .box span {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #header #banner .banner_content .box p {
    padding: 3px 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #header #banner .banner_content h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  #header #banner .banner_content .para {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #header #banner .banner_content .btn a {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 400;
    margin-right: 10px;
  }
  #header #banner .banner_img img {
    display: none;
  }
  /* home page Banner section css end  */
  /* home page serial movie section css start  */
  #serial_movie p {
    font-size: 12px;
    margin-bottom: 25px;
    padding-top: 15px;
  }
  #serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn span i {
    display: none;
  }
  /* home page serial movie section css end  */
  /* home page mission section css start  */
  #mission {
    padding: 30px 0;
  }
  #mission .mission_img {
    margin-left: 20px;
  }
  #mission .mission_img img {
    width: 300px;
  }
  #mission .mission_img a {
    top: 56%;
    right: 32%;
  }
  #mission .mission_img a i {
    width: 50px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
  }
  #mission .mission_content .box {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 120px;
  }
  #mission .mission_content .box span {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #mission .mission_content .box p {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #mission .mission_content h1 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  #mission .mission_content .para {
    font-size: 13px;
    margin-bottom: 25px;
    margin-right: 15px;
  }
  #mission .mission_content .btn a {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 400;
    margin-right: 10px;
  }
  /* home page mission section css end  */
  /* home page trand section css start  */
  #trand .add_img {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #trand .add_img img {
    width: 300px;
  }
  #trand .title p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  #trand .serial_filter_content li {
    padding: 4px 7px;
    font-size: 5px;
    margin-right: 2px;
    margin-bottom: 30px;
  }
  #trand .serial_filter .serial_filter_item {
    width: 160px;
    margin-bottom: 0;
    margin-left: 15px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_img {
    width: 140px;
    height: 140px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body h6 {
    font-size: 11px;
    margin-bottom: 10px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating span {
    font-size: 11px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font {
    margin-top: 3px;
    margin-bottom: 50px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .i_1 {
    font-size: 10px;
    margin-right: 10px;
  }
  #trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .rat {
    margin-top: -2px;
    font-size: 10px;
  }
  #trand .load {
    margin-bottom: 40px;
  }
  #trand .load a {
    padding: 10px 10px;
    font-size: 11px;
  }
  /* home page trand section css end  */
  /* home page jurassic section css start  */
  #jurassic {
    height: 480px;
  }
  #jurassic .jurassic_content .box {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #jurassic .jurassic_content .box span {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #jurassic .jurassic_content .box p {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #jurassic .jurassic_content h1 {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  #jurassic .jurassic_content .para {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #jurassic .jurassic_content .btn a {
    padding: 10px;
    font-size: 10px;
    font-weight: 400;
    margin-right: 10px;
  }
  /* home page jurassic section css end  */
  /* home page venom section css start  */
  #venom {
    padding: 30px 0;
  }
  #venom .venom_img {
    margin-left: 17px;
  }
  #venom .venom_img img {
    width: 300px;
  }
  #venom .venom_img a {
    top: 52%;
    right: 28%;
  }
  #venom .venom_img a i {
    width: 50px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
  }
  #venom .venom_content .box {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 117px;
  }
  #venom .venom_content .box span {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #venom .venom_content .box p {
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
  }
  #venom .venom_content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  #venom .venom_content .para {
    font-size: 13px;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  #venom .venom_content .btn a {
    padding: 10px;
    font-size: 10px;
    font-weight: 400;
    margin-right: 10px;
  }
  /* home page venom section css end  */
  /* home page Blog section css start  */
  #blog .blog_img {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  #blog .blog_img img {
    width: 300px;
  }
  #blog .blog_game .blog_game_content {
    margin-top: 20px;
    border-right: none;
    padding-right: 0;
  }
  #blog .blog_game .blog_game_content h2 {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  #blog .blog_game .blog_game_content p {
    font-size: 12px;
    margin-bottom: 15px;
  }
  #blog .blog_game .blog_game_img {
    margin-right: 0px;
    display: none;
  }
  #blog .blog_game {
    padding: 20px;
  }
  #blog .blog_artical {
    margin-top: -80px;
    padding: 20px;
  }
  #blog .blog_news {
    margin-bottom: 30px;
    width: 180px;
  }
  #blog .blog_news .overlay p {
    font-size: 12px;
  }
  #blog .load {
    margin-bottom: 50px;
  }
  #blog .load a {
    padding: 10px 15px;
    font-size: 11px;
  }
  /* home page Blog section css end  */
  /* home page Footer section css start  */
  footer .footer_info {
    margin-left: -50px;
  }
  footer .footer_info img {
    width: 120px;
  }
  footer .footer_info p {
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  footer .footer_info .partner .star {
    margin-bottom: 20px;
  }
  footer .footer_info .partner .star i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
  footer .footer_info .social_link a {
    font-size: 25px;
  }
  footer .footer_menu {
    margin-left: -50px;
    margin-top: 50px;
  }
  footer .footer_menu h6 {
    margin-bottom: 20px;
  }
  footer .footer_menu ul {
    margin-right: 30px;
  }
  footer .footer_menu ul li a {
    font-size: 13px;
  }
  footer .footer_others {
    margin-left: -50px;
    margin-top: 50px;
  }
  /* home page Footer section css end  */
  /* home page section css end  */
  /* My List page section css start  */
  /* My List page My List Blog section css start  */
  #list_header {
    height: 1060px;
  }
  #list_header #nav .nav_btn {
    color: #fff;
    width: 30px;
    height: 30px;
  }
  #list_header #nav .nav_btn span i {
    margin-left: -25px;
    border: none;
  }
  #list_header #nav ul {
    margin-top: 25px;
    margin-left: 15px;
  }
  #list_header #nav ul li a {
    margin-bottom: 15px;
  }
  #list_header #nav .search_form .search {
    display: none;
  }
  #list_header #my_list {
    margin-top: 40px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item {
    width: 170px;
    margin-bottom: 20px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_img {
    width: 160px;
    height: 160px;
  }
  #list_header #my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body h6 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .list_footer {
    margin-top: -3px;
  }
  /* My List page My List Blog section css end  */
  /* My List page section css end  */
  /* Movie page section css start  */
  /* Movie page header section css start  */
  #movie_header {
    height: 720px;
  }
  #movie_header #nav .nav_btn {
    color: #fff;
    width: 30px;
    height: 30px;
  }
  #movie_header #nav .nav_btn span i {
    margin-left: -25px;
    border: none;
  }
  #movie_header #nav ul {
    margin-top: 25px;
    margin-left: 15px;
  }
  #movie_header #nav ul li a {
    margin-bottom: 15px;
  }
  #movie_header #nav .search_form .search {
    display: none;
  }
  /* Movie page header section css end  */
  /* Movie page movie content section css start  */
  #movie_header #movie_content .movie_content_img img {
    display: none;
  }
  #movie_header #movie_content {
    margin-top: 40px;
  }
  #movie_header #movie_content .movie_content_text {
    margin-left: 0px;
  }
  #movie_header #movie_content .movie_content_text h3 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 18px;
  }
  #movie_header #movie_content .movie_content_text .movie_info p {
    width: 330px;
  }
  #movie_header #movie_content .movie_content_btn {
    margin-top: 25px;
  }
  #movie_header #movie_content .movie_content_btn a {
    padding: 10px 12px;
    font-size: 11px;
    word-spacing: 2px;
    margin-bottom: 10px;
  }
  #movie_header #movie_content .movie_content_btn .ratting .star {
    margin-left: 5px;
  }
  #movie_header #movie_content .movie_content_btn .ratting .star i {
    font-size: 13px;
  }
  /* Movie page movie content section css end  */
  /* Movie page movie blog video section css start  */
  #movie_blog .movie_blog_video {
    margin-top: 50px;
  }
  #movie_blog .movie_blog_video img {
    width: 335px;
  }
  #movie_blog .movie_blog_video a {
    top: 54%;
    right: 28%;
  }
  #movie_blog .movie_blog_video a i {
    width: 60px;
    height: 40px;
    font-size: 17px;
    line-height: 40px;
  }
  /* Movie page movie blog video section css end  */
  /* Movie page movie blog news section css start  */
  #movie_blog .movie_blog_news {
    margin-top: 60px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item {
    width: 180px;
    height: 269px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item .overlay {
    width: 156px;
    bottom: 31px;
  }
  #movie_blog .movie_blog_news .movie_blog_news_item .overlay p {
    font-size: 12px;
  }
  #movie_blog .bottom {
    margin-top: 40px;
  }
  /* Movie page movie blog news section css end  */
  /* Movie page section css end  */
  /* Artical page section css start  */
  /* Artical page header section css start  */
  /* Artical page header section css end  */
  /* Artical page blog page categories section css start  */
  #blog_page .blog_page_categories {
    display: none;
  }
  #blog_page .slide_btn {
    margin-top: 35px;
    background: #020d18;
    border: none;
  }
  .offcanvas-header .btn-close {
    margin-left: -115px;
  }
  #blog_page .slide_offcanvas {
    width: 240px;
  }
  #blog_page .offcanvas-header {
    padding: 40px 0px;
    margin-left: 320px;
  }
  #blog_page .offcanvas-header .off_head_btn i {
    color: #fff;
    font-size: 35px;
    margin-left: -50px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .input i {
    right: 10px;
    top: 13px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .input input {
    height: 40px;
    padding-left: 10px;
    width: 140px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .categories p {
    width: 170px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .recent_post .title {
    width: 170px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .recent_post .recent_blog .recent_blog_item .recent_blog_img {
    margin-right: 12px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .recent_post .recent_blog .recent_blog_item .recent_blog_content p {
    font-size: 14px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .recent_post .recent_blog .recent_blog_item .recent_blog_content span {
    font-size: 13px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .recent_post .recent_blog .recent_blog_item {
    width: 200px;
  }
  #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .archives p, #blog_page .slide_offcanvas .offcanvas-body .blog_page_categories_2 .meta p {
    width: 170px;
    margin-top: 30px;
  }
  #blog_page .artical_img img {
    margin-left: 0px;
    margin-top: 20px;
  }
  #blog_page .artical_img .title {
    font-size: 19px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 14px;
  }
  #blog_page .artical_img .react {
    margin-left: 0px;
  }
  /* Artical page blog page categories section css end  */
  /* Artical page artical thum section css start  */
  #artical_thum .artical_text {
    margin-left: 0px;
    margin-top: 10px;
  }
  #artical_thum .artical_text p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  #artical_thum .artical_text .share span {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #artical_thum .artical_text .share .social_link a {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  #artical_thum .artical_text .artical_blog {
    margin-top: 30px;
    margin-bottom: 80px;
  }
  #artical_thum .artical_text .artical_blog .artical_blog_item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  /* Artical page artical thum section css end  */
  /* Artical page section css end  */
}/*# sourceMappingURL=responsive.css.map */