/* common css start  */
h1, h2, h3, h4, h5, h6,
ol, ul, p, small.span, button {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* common css end  */
/* Header section css start  */
#header {
  background: url(../img/banner_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 767px;
}
#header #nav {
  padding-top: 36px;
  position: relative;
}
#header #nav .nav_btn {
  color: #f10e1f;
}
#header #nav ul {
  margin-left: 90px;
}
#header #nav ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-right: 18px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#header #nav ul li a:hover {
  color: #75101c;
}
#header #nav .search_form {
  position: relative;
}
#header #nav .search_form .search {
  position: relative;
}
#header #nav .search_form .search input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #75101c;
  position: absolute;
  top: 7px;
  left: -227px;
}
#header #nav .search_form .search input::-webkit-input-placeholder {
  color: #75101c;
  font-weight: 600;
}
#header #nav .search_form .search input::-moz-placeholder {
  color: #75101c;
  font-weight: 600;
}
#header #nav .search_form .search input:-ms-input-placeholder {
  color: #75101c;
  font-weight: 600;
}
#header #nav .search_form .search input::-ms-input-placeholder {
  color: #75101c;
  font-weight: 600;
}
#header #nav .search_form .search input::placeholder {
  color: #75101c;
  font-weight: 600;
}
#header #nav .search_form .search a i {
  position: absolute;
  top: 15px;
  right: 50px;
  color: #75101c;
}
#header #nav .search_form a {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
#header #nav .search_form a.bot {
  margin-top: 12px;
}
#header #nav .search_form a.a_active {
  padding: 13px 20px;
  background: #f10e1f;
  border-radius: 50px;
}
#header #banner {
  margin-top: 56px;
}
#header #banner .banner_content .box {
  margin-top: 100px;
  margin-bottom: 24px;
}
#header #banner .banner_content .box span {
  padding: 5px 9px;
  background: #f4b01e;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
}
#header #banner .banner_content .box p {
  padding: 5px 8px;
  background: #37a3df;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
  text-transform: uppercase;
}
#header #banner .banner_content .box p:last-child {
  background: #df5f37;
}
#header #banner .banner_content h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#header #banner .banner_content .para {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  line-height: 2;
  margin-bottom: 40px;
}
#header #banner .banner_content .btn {
  margin-left: -15px;
}
#header #banner .banner_content .btn a {
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #000;
  margin-right: 22px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#header #banner .banner_content .btn a:hover {
  background: #fc0f1f;
  -webkit-box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
          box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
}
#header #banner .banner_content .btn a i {
  margin-right: 10px;
  color: #fff;
}

/* Header section css end  */
/* Movie Serial section css start  */
#serial_movie {
  background: #020d18;
  position: relative;
  margin-top: -2px;
  padding-bottom: 20px;
}
#serial_movie p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
}
#serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn.prev {
  left: 60px;
}
#serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn.next {
  right: 60px;
}
#serial_movie .serial_movie_center_icon .serial_movie_center_icon_btn span i {
  font-size: 30px;
  color: #48494b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#serial_movie .serial_movie_center .serial_movie_center_item {
  margin-right: 15px;
}

/* Movie Serial section css end  */
/* Mission section css start  */
#mission {
  background: #091521;
  padding: 62px 0;
}
#mission .mission_img {
  position: relative;
}
#mission .mission_img a {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 39%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#mission .mission_img a i {
  width: 70px;
  height: 50px;
  color: #fff;
  background: rgba(29, 27, 26, 0.85);
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
#mission .mission_content .box {
  margin-top: 62px;
  margin-bottom: 24px;
  margin-left: 196px;
}
#mission .mission_content .box span {
  padding: 5px 9px;
  background: #f4b01e;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
}
#mission .mission_content .box p {
  padding: 5px 8px;
  background: #37a3df;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
  text-transform: uppercase;
}
#mission .mission_content .box p:last-child {
  background: #df5f37;
}
#mission .mission_content h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#mission .mission_content .para {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  line-height: 1.6;
  margin-bottom: 40px;
}
#mission .mission_content .btn {
  margin-left: -15px;
}
#mission .mission_content .btn a {
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #000;
  margin-right: 22px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#mission .mission_content .btn a:hover {
  background: #fc0f1f;
  -webkit-box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
          box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
}
#mission .mission_content .btn a i {
  margin-right: 10px;
  color: #fff;
}

/* Mission section css end  */
/* Trand section css start  */
#trand {
  background: #020d18;
}
#trand .add_img {
  margin-top: 50px;
  margin-bottom: 42px;
}
#trand .add_img img {
  width: 970px;
}
#trand .title p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  text-transform: uppercase;
  margin-bottom: 34px;
}
#trand .serial_filter_content li {
  padding: 8px 14px;
  background: #151f2b;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin-right: 30px;
  border-radius: 20px;
  margin-bottom: 55px;
}
#trand .serial_filter_content li.f_active {
  background: #fd0f1f;
  color: #fff;
}
#trand .serial_filter .serial_filter_item {
  width: 211px;
  margin-right: 38px;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_img {
  width: 196px;
  height: 196px;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_body h6 {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 17px;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_body .rating span {
  font-size: 14px;
  font-weight: 400;
  color: #4c4c4c;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font {
  margin-top: 5px;
  margin-bottom: 50px;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .i_1 {
  color: #4c4c4c;
  font-size: 10px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .i_1:hover {
  color: #f4dd1e;
}
#trand .serial_filter .serial_filter_item .serial_filter_item_body .rating .font .rat {
  margin-top: -5px;
  font-size: 12px;
  color: #f4dd1e;
}
#trand .load {
  margin-bottom: 60px;
}
#trand .load a {
  padding: 13px 22px;
  background: #151f2b;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
}
#trand .load a i {
  margin-right: 13px;
}

/* Trand section css end  */
/* Jurassic section css start  */
#jurassic {
  background: url(../img/jurasy_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
}
#jurassic .jurassic_content .box {
  margin-top: 100px;
  margin-bottom: 24px;
}
#jurassic .jurassic_content .box span {
  padding: 5px 9px;
  background: #f4b01e;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
}
#jurassic .jurassic_content .box p {
  padding: 5px 8px;
  background: #37a3df;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
  text-transform: uppercase;
}
#jurassic .jurassic_content .box p:last-child {
  background: #df5f37;
}
#jurassic .jurassic_content h1 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#jurassic .jurassic_content .para {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  line-height: 2;
  margin-bottom: 40px;
}
#jurassic .jurassic_content .btn {
  margin-left: -15px;
}
#jurassic .jurassic_content .btn a {
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #000;
  margin-right: 22px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#jurassic .jurassic_content .btn a:hover {
  background: #fc0f1f;
  -webkit-box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
          box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
}
#jurassic .jurassic_content .btn a i {
  margin-right: 10px;
  color: #fff;
}

/* Jurassic section css end  */
/* Venom section css start  */
#venom {
  background: url(../img/venom_bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 65px 0;
}
#venom .venom_img {
  position: relative;
}
#venom .venom_img img {
  width: 536px;
}
#venom .venom_img a {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 39%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#venom .venom_img a i {
  width: 70px;
  height: 50px;
  color: #fff;
  background: rgba(29, 27, 26, 0.85);
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
#venom .venom_content .box {
  margin-top: 62px;
  margin-bottom: 24px;
  margin-left: 196px;
}
#venom .venom_content .box span {
  padding: 5px 9px;
  background: #f4b01e;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
}
#venom .venom_content .box p {
  padding: 5px 8px;
  background: #37a3df;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 13px;
  text-transform: uppercase;
}
#venom .venom_content .box p:last-child {
  background: #df5f37;
}
#venom .venom_content h1 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#venom .venom_content .para {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  line-height: 1.6;
  margin-bottom: 40px;
}
#venom .venom_content .btn {
  margin-left: -15px;
}
#venom .venom_content .btn a {
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #000;
  margin-right: 22px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#venom .venom_content .btn a:hover {
  background: #fc0f1f;
  -webkit-box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
          box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
}
#venom .venom_content .btn a i {
  margin-right: 10px;
  color: #fff;
}

/* Venom section css end  */
/* Blog section css start  */
#blog {
  background: #020d18;
}
#blog .blog_img {
  padding-top: 50px;
  padding-bottom: 80px;
}
#blog .blog_img img {
  width: 970px;
}
#blog .blog_game {
  margin-bottom: 80px;
}
#blog .blog_game .blog_game_img {
  margin-right: 30px;
}
#blog .blog_game .blog_game_content {
  margin-top: 35px;
  border-right: 1px solid #4c4c4c;
  padding-right: 30px;
}
#blog .blog_game .blog_game_content h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#blog .blog_game .blog_game_content p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 28px;
  line-height: 1.6;
}
#blog .blog_game .blog_game_content a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog .blog_game .blog_game_content a:hover {
  color: #f10e1f;
  text-decoration: underline;
}
#blog .blog_game .blog_game_content a i {
  padding-left: 9px;
}
#blog .blog_artical {
  margin-top: 24px;
}
#blog .blog_artical .blog_artical_item {
  margin-top: 30px;
}
#blog .blog_artical .blog_artical_item .blog_artical_img {
  margin-right: 20px;
}
#blog .blog_artical .blog_artical_item .blog_artical_img a {
  width: 80px;
  height: 80px;
}
#blog .blog_artical .blog_artical_item .blog_artical_img a img {
  width: 80px;
  height: 80px;
}
#blog .blog_artical .blog_artical_item .blog_artical_content h6 {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 1.7;
  margin-top: 10px;
}
#blog .blog_artical .blog_artical_item .blog_artical_content a {
  font-size: 12px;
  font-weight: 300;
  color: #4c4c4c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog .blog_artical .blog_artical_item .blog_artical_content a:hover {
  color: #f10e1f;
  text-decoration: underline;
}
#blog .blog_news {
  position: relative;
  margin-bottom: 55px;
}
#blog .blog_news .overlay {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.7);
  margin-right: 12px;
  padding: 20px 7px;
}
#blog .blog_news .overlay p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
}
#blog .load {
  margin-bottom: 60px;
}
#blog .load a {
  padding: 13px 22px;
  background: #151f2b;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
}
#blog .load a i {
  margin-right: 13px;
}

/* Blog section css end  */
/* Footer section css start  */
footer {
  padding: 55px;
  background: #000a15;
}
footer .footer_info p {
  margin-top: 29px;
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 46px;
}
footer .footer_info .partner span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 14px;
}
footer .footer_info .partner .star {
  margin-bottom: 48px;
}
footer .footer_info .partner .star i {
  width: 40px;
  height: 40px;
  background: #212121;
  color: #6d6d6d;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 8px;
}
footer .footer_info .social_link a {
  margin-right: 13px;
  color: #b0b0b0;
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer_info .social_link a:hover {
  color: #f10e1f;
}
footer .footer_menu {
  margin-left: 50px;
}
footer .footer_menu h6 {
  font-size: 14px;
  font-weight: 500;
  color: #b0b0b0;
  margin-bottom: 28px;
}
footer .footer_menu ul {
  margin-right: 64px;
}
footer .footer_menu ul:nth-child(3) {
  margin-left: 20px;
}
footer .footer_menu ul li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #656565;
  margin-bottom: 14px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer_menu ul li a:hover {
  color: #f10e1f;
  text-decoration: underline;
}
footer .footer_others h6 {
  font-size: 14px;
  font-weight: 500;
  color: #b0b0b0;
  margin-bottom: 28px;
}
footer .footer_others ul {
  margin-right: 30px;
}
footer .footer_others ul li {
  width: 132px;
}
footer .footer_others ul li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #656565;
  margin-bottom: 14px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .footer_others ul li a:hover {
  color: #f10e1f;
  text-decoration: underline;
}

/* Footer section css end  */
/* Blog Page section css start  */
#blog_page .blog_page_categories {
  margin-top: 60px;
}
#blog_page .blog_page_categories .input {
  position: relative;
  margin-bottom: 30px;
}
#blog_page .blog_page_categories .input input {
  height: 50px;
  background: transparent;
  border: 1px solid #fff;
  padding-left: 20px;
  color: #fff;
  outline: none;
  width: 214px;
}
#blog_page .blog_page_categories .input i {
  position: absolute;
  top: 16px;
  right: -35px;
  color: #fff;
  border-left: 2px solid #fff;
  padding-left: 12px;
}
#blog_page .blog_page_categories .categories p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  width: 214px;
}
#blog_page .blog_page_categories .categories ul {
  margin-top: 30px;
}
#blog_page .blog_page_categories .categories ul li {
  margin-bottom: 25px;
}
#blog_page .blog_page_categories .categories ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_page .blog_page_categories .categories ul li a:hover {
  color: #f10e1f;
}
#blog_page .blog_page_categories .categories ul li a img {
  margin-right: 15px;
}
#blog_page .blog_page_categories .recent_post .title {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  width: 214px;
  margin-top: 35px;
}
#blog_page .blog_page_categories .recent_post .recent_blog .recent_blog_item {
  width: 214px;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
  margin: 30px 0;
}
#blog_page .blog_page_categories .recent_post .recent_blog .recent_blog_item:last-child {
  border-bottom: none;
}
#blog_page .blog_page_categories .recent_post .recent_blog .recent_blog_item .recent_blog_img {
  margin-right: 15px;
}
#blog_page .blog_page_categories .recent_post .recent_blog .recent_blog_item .recent_blog_content p {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
#blog_page .blog_page_categories .recent_post .recent_blog .recent_blog_item .recent_blog_content span {
  font-size: 14px;
  font-weight: 300;
  color: #909090;
}
#blog_page .blog_page_categories .archives p,
#blog_page .blog_page_categories .meta p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  width: 214px;
  margin-top: 35px;
}
#blog_page .blog_page_categories .archives ul,
#blog_page .blog_page_categories .meta ul {
  margin-top: 30px;
}
#blog_page .blog_page_categories .archives ul li,
#blog_page .blog_page_categories .meta ul li {
  margin-bottom: 25px;
}
#blog_page .blog_page_categories .archives ul li a,
#blog_page .blog_page_categories .meta ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_page .blog_page_categories .archives ul li a:hover,
#blog_page .blog_page_categories .meta ul li a:hover {
  color: #f10e1f;
}
#blog_page .blog_page_categories .archives ul li a img,
#blog_page .blog_page_categories .meta ul li a img {
  margin-right: 15px;
}
#blog_page .blog_page_game {
  margin-left: 100px;
  margin-top: 60px;
}
#blog_page .blog_page_game .blog_page_game_img {
  margin-right: 30px;
}
#blog_page .blog_page_game .blog_page_game_text h2 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
}
#blog_page .blog_page_game .blog_page_game_text p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 28px;
  line-height: 1.6;
}
#blog_page .blog_page_game .blog_page_game_text a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_page .blog_page_game .blog_page_game_text a:hover {
  color: #f10e1f;
  text-decoration: underline;
}
#blog_page .blog_page_game .blog_page_game_text a i {
  padding-left: 9px;
}

/* Blog Page section css end  */
/* Blog Page game section css start  */
#blog_thum {
  margin-top: -2px;
  background: #020d18;
}
#blog_thum .blog_page_game_blog {
  margin-left: 100px;
  margin-top: 60px;
}
#blog_thum .blog_page_game_blog .blog_page_game_img {
  margin-right: 30px;
}
#blog_thum .blog_page_game_blog .blog_page_game_text h2 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
}
#blog_thum .blog_page_game_blog .blog_page_game_text p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 28px;
  line-height: 1.6;
}
#blog_thum .blog_page_game_blog .blog_page_game_text a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#blog_thum .blog_page_game_blog .blog_page_game_text a:hover {
  color: #f10e1f;
  text-decoration: underline;
}
#blog_thum .blog_page_game_blog .blog_page_game_text a i {
  padding-left: 9px;
}
#blog_thum .blog_page_game_blog .load {
  margin-left: -380px;
}
#blog_thum .blog_page_game_blog .load a {
  display: inline-block;
  padding: 13px 22px;
  background: #151f2b;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  border-radius: 15px;
  margin-top: 65px;
  margin-bottom: 70px;
}
#blog_thum .blog_page_game_blog .load a i {
  margin-right: 13px;
}
#blog_thum .blog_page_game_blog .blog_news .blog_news_item {
  position: relative;
  margin-bottom: 110px;
  margin-right: 30px;
}
#blog_thum .blog_page_game_blog .blog_news .blog_news_item .overlay {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 8px;
}
#blog_thum .blog_page_game_blog .blog_news .blog_news_item .overlay p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
}

/* Blog Page game section css end  */
/* Movie header section css start  */
#movie_header {
  background: url(../img/movie_bg.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
}
#movie_header #nav {
  padding-top: 36px;
  position: relative;
}
#movie_header #nav ul {
  margin-left: 90px;
}
#movie_header #nav ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-right: 18px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#movie_header #nav ul li a:hover {
  color: #75101c;
}
#movie_header #nav .search_form {
  position: relative;
}
#movie_header #nav .search_form .search {
  position: relative;
}
#movie_header #nav .search_form .search input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #75101c;
  position: absolute;
  top: 7px;
  left: -227px;
}
#movie_header #nav .search_form .search input::-webkit-input-placeholder {
  color: #75101c;
  font-weight: 600;
}
#movie_header #nav .search_form .search input::-moz-placeholder {
  color: #75101c;
  font-weight: 600;
}
#movie_header #nav .search_form .search input:-ms-input-placeholder {
  color: #75101c;
  font-weight: 600;
}
#movie_header #nav .search_form .search input::-ms-input-placeholder {
  color: #75101c;
  font-weight: 600;
}
#movie_header #nav .search_form .search input::placeholder {
  color: #75101c;
  font-weight: 600;
}
#movie_header #nav .search_form .search i {
  position: absolute;
  top: 9px;
  right: 5px;
  color: #75101c;
}
#movie_header #nav .search_form a {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
#movie_header #nav .search_form a.bot {
  margin-top: 12px;
}
#movie_header #nav .search_form a.a_active {
  padding: 13px 20px;
  background: #f10e1f;
  border-radius: 50px;
}
#movie_header #movie_content {
  margin-top: 100px;
}
#movie_header #movie_content .movie_content_img {
  margin-left: -30px;
}
#movie_header #movie_content .movie_content_img img {
  width: 297px;
  height: 397px;
}
#movie_header #movie_content .movie_content_text {
  margin-left: 30px;
}
#movie_header #movie_content .movie_content_text h3 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 20px;
}
#movie_header #movie_content .movie_content_text .lanch_info {
  margin-bottom: 16px;
}
#movie_header #movie_content .movie_content_text .lanch_info ul li {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-bottom: 10px;
}
#movie_header #movie_content .movie_content_text .lanch_info ul li span {
  color: #0ea4f1;
}
#movie_header #movie_content .movie_content_text .movie_info p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  margin-top: 18px;
}
#movie_header #movie_content .movie_content_btn a {
  display: inline-block;
  padding: 14px 22px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #000;
  border-radius: 20px;
  word-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
}
#movie_header #movie_content .movie_content_btn a:hover {
  background: #fc0f1f;
  -webkit-box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
          box-shadow: 0 0 17px rgba(252, 15, 31, 0.58);
}
#movie_header #movie_content .movie_content_btn a i {
  margin-right: 10px;
}
#movie_header #movie_content .movie_content_btn .ratting .star {
  margin-right: 10px;
}
#movie_header #movie_content .movie_content_btn .ratting .star i {
  font-size: 14px;
  color: #cfbc1a;
}
#movie_header #movie_content .movie_content_btn .ratting span {
  display: inline-block;
  color: #0ea4f1;
}

/* Movie header section css end  */
/* Movie header section css end  */
#movie_blog {
  background: #020d18;
}
#movie_blog .movie_blog_box .movie_blog_box_item {
  margin-top: 30px;
}
#movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_img {
  margin-right: 20px;
}
#movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_content h6 {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 1.7;
  margin-top: 10px;
}
#movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_content a {
  font-size: 12px;
  font-weight: 300;
  color: #4c4c4c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#movie_blog .movie_blog_box .movie_blog_box_item .movie_blog_box_content a:hover {
  color: #f10e1f;
  text-decoration: underline;
}
#movie_blog .movie_blog_video {
  position: relative;
}
#movie_blog .movie_blog_video a {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 39%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#movie_blog .movie_blog_video a i {
  width: 70px;
  height: 50px;
  color: #fff;
  background: rgba(29, 27, 26, 0.85);
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
#movie_blog .movie_blog_news {
  position: relative;
  margin-top: 100px;
}
#movie_blog .movie_blog_news .overlay {
  position: absolute;
  width: 261px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.7);
  margin-right: 12px;
  padding: 20px 9px;
}
#movie_blog .movie_blog_news .overlay p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
}
#movie_blog .bottom {
  margin-top: 100px;
}

/* Movie header section css end  */
/* My List  section css start  */
#my_list {
  margin-top: 70px;
}
#my_list .my_list_blog .my_list_blog_item {
  width: 220px;
  margin-bottom: 40px;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_img {
  width: 196px;
  height: 196px;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body h6 {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 17px;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating span {
  font-size: 14px;
  font-weight: 400;
  color: #4c4c4c;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font {
  margin-top: 5px;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font .i_1 {
  color: #4c4c4c;
  font-size: 10px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font .i_1:hover {
  color: #f4dd1e;
}
#my_list .my_list_blog .my_list_blog_item .my_list_blog_item_body .rating .font .rat {
  margin-top: -5px;
  font-size: 12px;
  color: #f4dd1e;
}

/* My List  section css end  */
/* My List Footer section css start  */
.list_footer {
  margin-top: -2px;
}

/* My List Footer section css end  */
/* Artical page section css start  */
#blog_page .artical_img img {
  margin-left: 70px;
  margin-top: 75px;
}
#blog_page .artical_img .title {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-top: 42px;
  margin-left: 73px;
  margin-bottom: 20px;
}
#blog_page .artical_img .react {
  margin-left: 73px;
  color: #fff;
}
#blog_page .artical_img .react div {
  margin-right: 15px;
}

/* Artical page section css end  */
#artical_thum {
  margin-top: -2px;
  background: #020d18;
}
#artical_thum .artical_text {
  margin-left: 60px;
  margin-top: 20px;
}
#artical_thum .artical_text p {
  font-size: 14px;
  font-weight: 300;
  color: #b0b0b0;
  line-height: 1.7;
  margin-bottom: 30px;
}
#artical_thum .artical_text .share span {
  display: inline-block;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 18px;
}
#artical_thum .artical_text .share .social_link a {
  display: inline-block;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#artical_thum .artical_text .share .social_link a:hover {
  color: #f10e1f;
}
#artical_thum .artical_text hr {
  width: 100%;
  color: #4b4b4b;
}
#artical_thum .artical_text .artical_blog {
  margin-top: 86px;
  margin-bottom: 300px;
}
#artical_thum .artical_text .artical_blog .artical_blog_item {
  margin-right: 100px;
}
#artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_img {
  margin-right: 20px;
}
#artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_text h6 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
  margin-top: 7px;
}
#artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_text a {
  font-size: 12px;
  font-weight: 300;
  color: #4c4c4c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#artical_thum .artical_text .artical_blog .artical_blog_item .artical_blog_text a:hover {
  color: #f10e1f;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */